.responsiveText {
	font-size:16px;	
	font-family: 'oswaldlight';
	max-width: 920px;
	text-transform: uppercase;
	margin-top:30px;
}
h1, h2, h3 {
	padding: 0;
	margin: 0;
	color: #000;
}
h1 {
	margin: 5px 0 0 10px;
	line-height: 100%;
	font-size: 1.65em;
	font-weight: 300;
}
h2 {
	font-weight: 700;
	font-size: 12.5em;
	line-height: 92%;
	font-family: 'oswaldmedium';
}
h3 {
	padding: 0 10px 0;
	line-height: 130%;
	font-weight: 300;
	position: relative;
	font-size: 1.25em;
}
h3 strong {
	padding-bottom: 10px;
	margin-bottom: 10px;
	font-size: 2.0em;
	line-height: 113%;
	font-family: 'oswaldmedium';
}
.purple { color:#4b0082; }
.wf_row { margin-top:-10px; } /* overwrite grid, reduce space in between rows */

/* responsive text */
@media all and (max-width: 919px) {
.responsiveText {
	font-size:15px;
}
}
@media all and (max-width: 819px) {
.responsiveText {
	font-size:14px;
}
}
@media all and (max-width: 769px) {
.responsiveText {
	font-size:13px;
}
}
@media all and (max-width: 749px) {
.responsiveText {
	font-size:12px;
}
.wf_row { margin-top:0; } /* overwrite grid, reduce space in between rows */
}
@media all and (max-width: 699px) {
.responsiveText {
	font-size:11px;
}
}
@media all and (max-width: 669px) {
.responsiveText {
	font-size:10px;
}
@media all and (max-width: 639px) {
.responsiveText {
	font-size:9px;
}
}
/* mobile only */
@media all and (max-width: 599px) {
.responsiveText {
	font-size:7px;
}
.wf_row { margin-top:-10px; } /* overwrite grid, reduce space in between rows */
h1 { font-size: 28px; margin:0; }
h2 { line-height: 100%; }
h3 strong { font-size: 28px; }
h3 { font-size: 20px; line-height:normal; }
}
@media all and (max-width: 320px) {
.responsiveText {
	font-size:6px;
}
}